 body {
   height: 100vh;
   margin: 0;
   background: linear-gradient(135deg, #62006f, #1E3A8A);
   background-size: 300% 300%;
   animation: gradientMove 8s ease infinite;
 }

 .bcolor-bg {
   background-color: #ffffff;
 }

 .bcolor-n-bg {
   background-color: #000000;
 }

 @keyframes gradientMove {
   0% {
     background-position: 0% 50%;
   }

   50% {
     background-position: 100% 50%;
   }

   100% {
     background-position: 0% 50%;
   }
 }



 @keyframes spin-slow {
   from {
     transform: rotate(0deg);
   }

   to {
     transform: rotate(360deg);
   }
 }

 .animate-spin-slow {
   animation: spin-slow 25s linear infinite;
 }